body {
    margin: 0;
    font-family: "Montserrat";
}

/* ---------------------HEADER SECTION--------------- */
.header {
    /* border: 0.5em solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #FFF;
    background-color: #46424D;
    height: 10vh;
}

/* ---------------------MAIN SECTION--------------- */
.main-container {
    /* border: 0.5em solid black; */
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 95vh;
    color: #FFF;
    background-color: #46424D;
}

/* ---------------------NEW ACTIVITY SECTION--------------- */
.new-activity {
    /* border: 0.5em solid black; */
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color:#2B2733;
}

.category-container {
    /* border: 0.5em solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 75vh;
    width: 95%;
    background-color: #46424D;
}

.category-boxes {
    border: 0.5em solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.accomplish-input {
    border: 0.5em solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;    
}

.time-input {
    border: 0.5em solid black;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
}

.start-button {
    border: 0.5em solid black;
    display: flex;
    justify-content: flex-end;
}

/* ---------------------PAST ACTIVITY SECTION--------------- */
.past-activity {
    /* border: 0.5em solid black; */
    width: 39.7%;
    background-color:#2B2733;
}


/* Colors
Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC

Fonts
Montserrat, both 300 and 400 weights are used in the comp. You’ll need to link this in the HTML. */